body{
    background: url("img/bg.jpg") no-repeat center top;
}

.wrapper{
    width: 900px;
    margin: 200px auto;
    padding: 40px;
    text-align: center;
    box-shadow: inset 0 0 240px #000, 0 0 140px #fff;
    border-radius: 20px;
}
.wrapper .nav{
    justify-content: center;
}

.wrapper .btn{
    background-color: #007bff;
    border-radius: 5px !important;
}
.wrapper .reset{
    margin-right: 10px;
}
.wrapper .form-control::-webkit-input-placeholder{
    color: #d0d0d0;
    font-size: 14px;
}
.wrapper .custom-select option{
    font-size: 16px;
    color: #000;
}


.label-box {
    position: relative;
    width: 100%;
}

.label-box::before,
.label-box::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 1px;
    background-color: #757575;
    transition: width 0.2s;
}

.label-box::before {
    left: 50%;
}

.label-box::after {
    right: 50%;
}

input:focus ~ .label-box::before,
input:focus ~ .label-box::after {
    width: 50%;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #757575;
    box-sizing: border-box;
}

label {
    position: absolute;
    top: -36px;
    font-size: 18px;
    color: #757575;
    transition: 0.2s ease all;
    pointer-events: none;
}

input:focus ~ .label-box label,
input:valid ~ .label-box label {
    font-size: 14px;
    transform: translateY(-20px);
}
input:focus{
    outline: none;
}
.question{
    margin-bottom: 50px;
}